* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boardWrapper {
  position: relative;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}

.black {
  background-color: deepskyblue;
}

.white {
  background-color: #eed4ac;
}

.selected {
  background-color: brown;
}

.avaliable {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: green;
}

.avaliable-figure {
  background-color: green;
}
.lost {
  height: calc(50vh - 60px);
  padding: 30px;
  margin-left: 50px;
  background-color: lightgrey;
}

.message {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  /* width: 500px;
  height: 500px; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.winMessage {
  color: green;
  position: absolute;
  left: 0;
  top: 0;
  backdrop-filter: blur(2px);
  z-index: 99;
}
.loseMessage {
  color: red;
  position: absolute;
  left: 0;
  top: 0;
  backdrop-filter: blur(2px);
  z-index: 99;
}
.checkMessage {
  color: darkgoldenrod;
}
